@font-face {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  src: url(../../fonts/18VAG\ Rounded\ M\ Normal.ttf);
}
.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: 0px;
}

.navbar {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 150;
}

.navbar__wrapper {
  display: flex;
  align-items: center;
}
.navbar__wrapper .logojon {
  margin-right: 40px;
}
.navbar__wrapper .logojon-tablet {
  display: none;
}
.navbar__wrapper .navbar__wrapper-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__wrapper .wrapper__menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-secondary, #70c05b);
  border: 1px solid #70c05b;
  color: var(--main-on-secondary, #fff);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.navbar__wrapper .wrapper__menu-button .menu__btn-span {
  padding: 6px;
  color: var(--main-on-secondary, #fff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: 0.5s;
}
.navbar__wrapper .wrapper__menu-button:hover {
  transition: 0.5s;
  background-color: #fff;
  color: #70c05b;
  border: 1px solid #70c05b;
}
.navbar__wrapper .wrapper__menu-button:hover .menu__btn-span {
  color: #70c05b;
  transition: 0.5s;
}
.navbar__wrapper .menu__btn-span-tablet {
  background-color: var(--main-secondary, #70c05b);
  border: 1px solid #70c05b;
  padding: 6px;
  border-radius: 4px;
  display: none;
}
.navbar__wrapper .form__search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.navbar__wrapper .form__search .form__search-inp {
  margin-left: 10px;
  width: 302px;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.navbar__wrapper .form__search .form__search-img {
  position: absolute;
  right: 10px;
  top: 8px;
}
.navbar__wrapper .menu__logotip {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150%;
}
.navbar__wrapper .menu__logotip .menu__logotip-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.navbar__wrapper .menu__logotip .menu__logotip-item .cart__wrapper {
  position: relative;
}
.navbar__wrapper .menu__logotip .menu__logotip-item .cart {
  z-index: 5;
  color: #ffffff;
  top: -5px;
  right: -6px;
  position: absolute;
  background-color: #ff6633;
  border-radius: 5px;
  padding: 2px;
  font-size: 12px;
}
.navbar__wrapper .menu__logotip .menu__logotip-item .cart-packet {
  color: var(--main-primary, #f63);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.navbar__wrapper .menu__logotip .menu__logotip-item .cartlike {
  z-index: 5;
  color: #ffffff;
  top: -5px;
  right: -6px;
  position: absolute;
  background-color: #ff6633;
  border-radius: 5px;
  padding: 2px;
  font-size: 12px;
}
.navbar__wrapper .menu__logotip .menu__logotip-item .logotip__item-img {
  transition: 0.5s;
  cursor: pointer;
}
.navbar__wrapper .menu__logotip .menu__logotip-item .logotip__item-img:hover {
  transform: translateY(-5px);
  transition: 0.5s;
}
.navbar__wrapper .menu__logotip .menu__logotip-item .logotip__item-span {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.navbar__wrapper .menu__dropdown-man {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  position: relative;
}
.navbar__wrapper .menu__dropdown-man .menu__dropdown-chevron-down {
  transition: 0.5s;
  transform: rotate(180deg);
}
.navbar__wrapper .menu__dropdown-man .dropdown__man-drop {
  display: none;
}
.navbar__wrapper .menu__dropdown-man .menu__dropdown-chevron-down:active {
  transition: 0.5s;
  transform: rotate(0);
}
.navbar__wrapper .menu__dropdown-man .dropdown__man-drop {
  position: absolute;
  top: 60px;
  right: 10px;
  background: #70c05b;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  transition: 1s;
}
.navbar__wrapper .menu__dropdown-man .dropdown__man-drop .man__drop-span {
  color: var(--on-surface, #ff0000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  background-color: #05ffee;
  padding: 8px;
  border-radius: 5px;
}
.navbar__wrapper .menu__dropdown-man .dropdown__man-drop .man__drop-h3 {
  color: var(--on-surface, #3c54df);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  background-color: #05ffee;
  padding: 8px;
  border-radius: 5px;
}
.navbar__wrapper .menu__dropdown-man .dropdown__man-drop .man__drop-h4 {
  color: var(--on-surface, #3c54df);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  background-color: #05ffee;
  padding: 8px;
  border-radius: 5px;
}
.navbar__wrapper .menu__dropdown-man #check {
  position: absolute;
  right: 3px;
  top: 23px;
  display: none;
  transition: 1s;
}
.navbar__wrapper .menu__dropdown-man #check:checked ~ .dropdown__man-drop {
  display: block;
  transition: 1s;
}
@media (max-width: 1000px) {
  .navbar__wrapper .form__search-inp {
    max-width: 200px;
  }
  .navbar__wrapper .logojon {
    margin-right: 25px;
  }
}
@media (max-width: 870px) {
  .navbar__wrapper .form__search-inp {
    max-width: 140px;
  }
  .navbar__wrapper .logojon {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .navbar__wrapper .logojon {
    display: none;
  }
  .navbar__wrapper .logojon-tablet {
    display: block;
    margin-right: 20px;
  }
  .navbar__wrapper .menu__dropdown-man {
    justify-content: space-between;
    width: 5%;
  }
  .navbar__wrapper .menu__dropdown-man .menu__dropdown-h3 {
    display: none;
  }
  .navbar__wrapper .menu__dropdown-man .menu__dropdown-chevron-down {
    left: 0;
    position: absolute;
    top: 10px;
    left: 40px;
    display: none;
  }
  .navbar__wrapper .form__search .form__search-img {
    right: 40px;
  }
  .navbar__wrapper .wrapper__menu-button {
    display: none;
  }
  .navbar__wrapper .menu__btn-span-tablet {
    display: block;
  }
}
@media (max-width: 678px) {
  .navbar__wrapper .form__search .form__search-img {
    right: 55px;
  }
  .navbar__wrapper .form__search-inp {
    max-width: 80px;
  }
}
@media (max-width: 620px) {
  .navbar__wrapper .form__search .form__search-img {
    right: 40px;
  }
}
@media (max-width: 460px) {
  .navbar__wrapper .menu__dropdown-man {
    display: none;
  }
  .navbar__wrapper .menu__btn {
    display: none;
  }
  .navbar__wrapper .form__search .form__search-img {
    right: 20px;
  }
}
@media (max-width: 360px) {
  .navbar__wrapper .menu__logotip {
    display: none;
  }
  .navbar__wrapper .form__search-inp {
    max-width: 150px;
  }
  .navbar__wrapper .form__search .form__search-img {
    right: 40px;
  }
  .navbar__wrapper .menu__dropdown-man {
    display: none;
  }
}
@media (max-width: 310px) {
  .navbar__wrapper .form__search .form__search-img {
    right: 12px;
  }
}

.categories__menu {
  text-align: center;
  width: 100%;
}
.categories__menu .menuDropdown-link {
  margin-right: 50px;
  color: #414141;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(252, 213, 186, 0.8);
  z-index: 15;
  opacity: 0;
  z-index: -1;
}

.modal-show {
  opacity: 1;
  z-index: 1;
}

.modal-remov {
  opacity: 0;
  z-index: -1;
}

.modal__images {
  position: relative;
}

.modal__img {
  position: absolute;
  max-width: 25px;
  max-height: 25px;
  right: 5px;
  top: 5px;
}

.modal__content {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 100vh;
  transition: 1s;
}

.modal__content-show {
  top: 0;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: #f9f4e2;
  margin-top: 120px;
}
.footer .footer__main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__wrapper-menu {
  width: 60%;
}
.footer .footer__wrapper-menu .footer__menu-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__wrapper-menu .menu__ul-li {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer__menu-social {
  display: flex;
  justify-content: space-between;
  width: 12%;
  align-items: center;
}
.footer .footer__menu-call {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer__menu-call .footer__menu-span {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 940px) {
  .footer .footer__menu-ul {
    flex-wrap: wrap;
  }
  .footer .footer__menu-social {
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .footer .footer__wrapper-menu {
    display: none;
  }
  .footer .footer__menu-social {
    flex-wrap: nowrap;
  }
}

.footer__mobile {
  display: none;
  background-color: var(--surface, #fff);
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 400px) {
  .footer__mobile {
    display: block;
  }
  .footer__mobile .footer__mobile-item {
    display: flex;
  }
  .footer__mobile .footer__mobile-item .mobile__item-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .footer__mobile .footer__mobile-item .mobile__item-span {
    color: var(--main-on-surface, #414141);
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 12px */
  }
  .footer__mobile .footer__mobile-item .mobile__item-h2 {
    color: var(--main-on-surface, #414141);
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 12px */
  }
  .footer__mobile .footer__mobile-item .mobil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__mobile .footer__mobile-item .mobile__item-img {
    margin-bottom: -5px;
  }
}
.categories__menu {
  position: absolute;
  background-color: white;
  padding: 25px 116px;
  left: 0;
  display: none;
}

.categories__menu-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  row-gap: 24px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.categories__menu-ul .categories__ul-li {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  cursor: pointer;
}
.categories__menu-ul .categories__ul-li:active {
  color: red;
}

.hidden {
  display: block;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--main-bg-page, #FBF8EC);
}

.katolog {
  margin-top: 27px;
}
.katolog .about__spans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120px;
  max-height: 24px;
}
.katolog .about__spans .about-spn {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
}
.katolog .katolog-heading {
  color: var(--main-on-surface, #414141);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.katolog .katalog__cards-images {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 630px) {
  .katolog .katalog__cards-images .katalog__cards-img1 {
    max-width: 500px;
  }
  .katolog .katalog__cards-images .katalog__cards-img10 {
    max-width: 500px;
  }
  .katolog .katalog__cards-images .katalog__cards-img12 {
    max-width: 500px;
  }
}
@media (max-width: 530px) {
  .katolog .katalog__cards-images .katalog__cards-img1 {
    max-width: 400px;
  }
  .katolog .katalog__cards-images .katalog__cards-img10 {
    max-width: 400px;
  }
  .katolog .katalog__cards-images .katalog__cards-img12 {
    max-width: 400px;
  }
}
@media (max-width: 430px) {
  .katolog .katalog__cards-images .katalog__cards-img1 {
    max-width: 300px;
  }
  .katolog .katalog__cards-images .katalog__cards-img10 {
    max-width: 300px;
  }
  .katolog .katalog__cards-images .katalog__cards-img12 {
    max-width: 300px;
  }
}
@media (max-width: 330px) {
  .katolog .katalog__cards-images .katalog__cards-img1 {
    max-width: 250px;
    min-height: 200px;
  }
  .katolog .katalog__cards-images .katalog__cards-img10 {
    max-width: 250px;
    min-height: 200px;
  }
  .katolog .katalog__cards-images .katalog__cards-img12 {
    max-width: 250px;
    min-height: 200px;
  }
}

.catalog {
  margin-top: 27px;
}
.catalog .catalog__wrapper-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 309px;
}
.catalog .catalog__text-h4 {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
}
.catalog .catalog__cards-h1 {
  color: var(--main-on-surface, #414141);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
}
.catalog .catalog__main-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}/*# sourceMappingURL=Категории.css.map */