@use "../global.scss";
.vakansiya__text {
    margin-top: 27px;
    .vakansiya__wrapper-spans {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 159px;
        max-height: 24px;
        .vakansiya__span {
            color: var(--main-on-surface, #414141);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }
    .vakansiya__wrapper-heading {
        margin-top: 0;
        color: var(--main-on-surface, #414141);
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
    .vakansiya__wrapper-cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        row-gap: 40px;
    }
    .vakansiya__cards {
        border-radius: 4px;
        background: var(--main-surface, #fff);
        box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
        max-width: 312px;
        // max-height: 486px;
        padding: 22px;
        .vakansiya__card-h3 {
            margin-top: 0;
            color: var(--main-on-surface, #414141);
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
        }
        .vakansiya__card-span {
            color: var(--main-on-surface, #414141);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
        }
        .vakansiya__card-title {
            color: var(--main-on-surface, #414141);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
        .vakansiya__card-call {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: start;
            .card__call-span {
                color: var(--main-on-surface, #414141);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; 
                text-decoration-line: underline;
            }
        }
    }
    @media (max-width: 665px) {
        .vakansiya__wrapper-cards{
            justify-content: center;
        }
    }
}
