@use "../global.scss";
.katolog {
    margin-top: 27px;
    .about__spans {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 120px;
        max-height: 24px;
        .about-spn {
            color: var(--main-on-surface, #414141);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
    .katolog-heading {
        color: var(--main-on-surface, #414141);
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
    .katalog__cards-images {
        // display: inline-flexbox;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    @media (max-width: 630px) {
        .katalog__cards-images {
            .katalog__cards-img1 {
                max-width: 500px;
            }
            .katalog__cards-img10 {
                max-width: 500px;
            }
            .katalog__cards-img12 {
                max-width: 500px;
            }
        }
    }
    @media (max-width: 530px) {
        .katalog__cards-images {
            .katalog__cards-img1 {
                max-width: 400px;
            }
            .katalog__cards-img10 {
                max-width: 400px;
            }
            .katalog__cards-img12 {
                max-width: 400px;
            }
        }
    }
    @media (max-width: 430px) {
        .katalog__cards-images {
            .katalog__cards-img1 {
                max-width: 300px;
            }
            .katalog__cards-img10 {
                max-width: 300px;
            }
            .katalog__cards-img12 {
                max-width: 300px;
            }
        }
    }
    @media (max-width: 330px) {
        .katalog__cards-images {
            .katalog__cards-img1 {
                max-width: 250px;
                min-height: 200px;
            }
            .katalog__cards-img10 {
                max-width: 250px;
                min-height: 200px;
            }
            .katalog__cards-img12 {
                max-width: 250px;
                min-height: 200px;
            }
        }
    }
}
