@use "../global.scss";
.catalog {
    margin-top: 27px;
    .catalog__wrapper-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 309px;
    }
    .catalog__text-h4 {
        color: var(--main-on-surface, #414141);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        cursor: pointer;
    }
    .catalog__cards-h1 {
        color: var(--main-on-surface, #414141);
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 72px */
    }
    .catalog__main-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 50px;
        align-items: center;
    }
}
