@use './base/typography';
@use './layouts/container';
@use './layouts/header';
@use './layouts/footer';
@use './base/reset';
@use './components/carousel';
@use './components/dropdowns';
@use './themes/dark-theme';
@use './themes/light';
@use './utils/mixin';
@use './utils/variables';

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}